<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #cc9600;">
    <%=link_to "Grocery Stores", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="navbar-nav justify-content-left">
          <%=link_to "Stores", stores_path, class: "nav-item nav-link text-white"%>
          <%=link_to "Departments", departments_path, class: "nav-item nav-link text-white"%>
          <%=link_to "Employees", employees_path, class: "nav-item nav-link text-white"%>
          <%=link_to "Reviews", reviews_path, class: "nav-item nav-link text-white"%>
        </div>
        
        <div class="navbar-nav justify-content-right">
          <% if current_user %>
            <%=link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link text-white" %>
          <% else %>
            <%=link_to "Sign up", new_user_registration_path, class: "nav-item nav-link text-white" %>
            <%=link_to "Sign in", new_user_session_path, class: "nav-item nav-link text-white" %>
          <% end %>  
        </div>
      </div>  
    </div>
  </nav>
</div>
